description "Bind Exporter"
start on (runlevel [345] and started network)
stop on (runlevel [!345] or stopping network)

respawn
{% if upstart_version.stdout | replace("init (upstart ", "") |replace(")","") is version('1.4', '>=') %}
setuid {{ prometheus_exporters_common_user }}
setgid {{ prometheus_exporters_common_group }}
{% endif %}

script
  exec >> "{{ prometheus_exporters_common_log_dir }}/bind_exporter.log"
  exec 2>&1
  exec {{ prometheus_exporters_common_root_dir }}/bind_exporter_current/bind_exporter {% for collector in bind_exporter_enabled_collectors %}--collector.{{ collector }} {% endfor %} {% for collector in bind_exporter_disabled_collectors %}--no-collector.{{ collector }} {% endfor %} {% for flag, flag_value in bind_exporter_config_flags.items() %}--{{ flag }}={{ flag_value }} {% endfor %}

end script
